object-pose-detection.json
[
    {
        "id":"e69f99d3.fcc628",
        "type":"tab",
        "label":"TensorFlow + Google Vision API",
        "disabled":false,"info":""
    },
    {
        "id":"5c2dce51.c4cfb",
        "type":"inject",
        "z":"e69f99d3.fcc628",
        "name":"",
        "props":[{"p":"payload"}],
        "repeat":"",
        "crontab":"",
        "once":false,
        "onceDelay":0.1,
        "topic":"",
        "payload":"",
        "payloadType":"date",
        "x":180,
        "y":400,
        "wires":[["8810732d.2ad12"]]
    },
    {
        "id":"8810732d.2ad12",
        "type":"ui_webcam",
        "z":"e69f99d3.fcc628",
        "name":"",
        "group":"d3ad8630.c9e8a8",
        "order":1,
        "width":"5",
        "height":5,
        "countdown":false,
        "autoStart":false,
        "hideCaptureButton":false,
        "showImage":"3",
        "mirror":true,
        "format":"jpeg",
        "x":480,
        "y":400,
        "wires":[["beb17f7a.2d7ca","c72fa609.2a8048","cb64c91e.e82558"]]
    },
    {
        "id":"beb17f7a.2d7ca",
        "type":"posenet",
        "z":"e69f99d3.fcc628",
        "name":"",
        "x":700,
        "y":380,
        "wires":[["eb04a5a.7873b58"]]
    },
    {
        "id":"c72fa609.2a8048",
        "type":"image",
        "z":"e69f99d3.fcc628",
        "name":"",
        "width":160,
        "data":"payload",
        "dataType":"msg",
        "thumbnail":false,
        "active":true,
        "pass":false,
        "outputs":0,
        "x":940,
        "y":80,
        "wires":[]
    },
    {
        "id":"eb04a5a.7873b58",
        "type":"image",
        "z":"e69f99d3.fcc628",
        "name":"",
        "width":160,
        "data":"annotatedInput",
        "dataType":"msg",
        "thumbnail":false,
        "active":true,
        "pass":false,
        "outputs":0,
        "x":940,
        "y":340,
        "wires":[]
    },
    {
        "id":"cb64c91e.e82558",
        "type":"google-cloud-vision",
        "z":"e69f99d3.fcc628",
        "account":"",
        "keyFilename":"",
        "faceDetection":false,
        "landmarkDetection":false,
        "logoDetection":false,
        "labelDetection":true,
        "textDetection":false,
        "documentTextDetection":false,
        "safeSearchDetection":false,
        "imageProperties":false,
        "cropHints":false,
        "webDetection":false,
        "productSearch":false,
        "objectLocalization":false,
        "name":"",
        "x":690,
        "y":580,
        "wires":[["f3ef138.1b491f"]]
    },
    {
        "id":"f3ef138.1b491f",
        "type":"function",
        "z":"e69f99d3.fcc628",
        "name":"Create array of results",
        "func":"if (msg.payload.labelAnnotations.length < 1) {\n    return null;\n}\n\nvar labels = [];\nvar labelAnnotations = msg.payload.labelAnnotations;\nfor (var i = 0; i < labelAnnotations.length; i++) {\n    labels.push(labelAnnotations[i].description);\n}\n\nmsg.payload = labels;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "initialize":"",
        "finalize":"",
        "x":920,
        "y":580,
        "wires":[["9916849f.730548","79ce9112.1a2d6"]]
    },
    {
        "id":"9916849f.730548",
        "type":"debug",
        "z":"e69f99d3.fcc628",
        "name":"",
        "active":true,
        "tosidebar":true,
        "console":false,
        "tostatus":false,
        "complete":"payload",
        "targetType":"msg",
        "statusVal":"",
        "statusType":"auto",
        "x":1150,
        "y":580,
        "wires":[]
    },
    {
        "id":"79ce9112.1a2d6",
        "type":"google-cloud-translate",
        "z":"e69f99d3.fcc628",
        "account":"",
        "keyFilename":"",
        "projectId":"",
        "sourceLanguageCode":"en",
        "sourceLanguageCodeType":"str",
        "targetLanguageCode":"es",
        "targetLanguageCodeType":"str",
        "outputFormat":"full",
        "name":"",
        "x":1190,
        "y":660,
        "wires":[["69d43a3a.cb55ac"]]
    },
    {
        "id":"69d43a3a.cb55ac",
        "type":"ui_text",
        "z":"e69f99d3.fcc628",
        "group":"d3ad8630.c9e8a8",
        "order":2,
        "width":0,
        "height":0,
        "name":"",
        "label":"Resultados:",
        "format":"{{payload.translations[0].translatedText}}",
        "layout":"col-center",
        "x":1410,
        "y":660,
        "wires":[]
    },
    {
        "id":"d3ad8630.c9e8a8",
        "type":"ui_group",
        "name":"Inicio",
        "tab":"a50be340.3d25",
        "order":2,
        "disp":true,
        "width":"10",
        "collapse":false
    },
    {
        "id":"a50be340.3d25",
        "type":"ui_tab",
        "name":"Home",
        "icon":"dashboard",
        "disabled":false,
        "hidden":false
    }
]